<!DOCTYPE HTML>
{% load i18n %}
<html>
<head>
       <title>Renki - {% trans "Service management" %}</title>
       <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css" rel="stylesheet">
       <link href="{{ STATIC_URL }}style/renki.css" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{% if messages %}
<section>
       <div class="alert alert-success span6 center">
               <button class="close" data-dismiss="alert" id="mainsuccess">×</button>
       {% for message in messages %}
               <p>{{message}}</p>
       {% endfor %}
       </div>
</section>
{% endif %}
 <div class="container">
<section>
	<div class"row">
		<div class="span12">
			<div class="page-header">
				<h1>Renki - {% trans "Service management" %}</h1>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row login">
		<div class="span well">
			{% if errormsg %}
			<p class="errornote">{{ errormsg }}</p>
			{% endif %}
			<form action="/login{% if next %}?next={{ next|urlencode }}{% endif %}" method="POST" id="login-form">{% csrf_token %}
			  <p><label for="id_username">{% trans 'Username' %}:</label> <input type="text" name="username" id="id_username" /></p>
			  <p><label for="id_password">{% trans 'Password' %}:</label> <input type="password" name="password" id="id_password" /><input type="hidden" name="this_is_the_login_form" value="1" /></p>
			  <p><label>&nbsp;</label> <input type="submit" value="{% trans 'Log in' %}" /></p>
			</form>
			</div>
	</div>
</section>
</div>
</body>
</html>
<script type="text/javascript">
	document.getElementById('id_username').focus()
</script>